@import "useful-classes"

html
  scroll-behavior: smooth

body
  box-sizing: border-box
  background: #111
  padding: 0
  margin: 0
  font-family: "Roboto", "Helvetica", sans-serif

::-webkit-scrollbar
  width: 8px
/* Track */
::-webkit-scrollbar-track
  background: rgba(32, 32, 32, 1)
/* Handle */
::-webkit-scrollbar-thumb
  background: rgba(26, 188, 156, 0.5)
/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: rgba(26, 188, 156, 0.4)
